<div class="doc-content">
  <md-content>
    <p><em>New to Angular.js? Before getting into Angular Material, it might be helpful to
      <a href="https://egghead.io/articles/new-to-angularjs-start-learning-here" target="_blank"
         title="Link opens in a new window">read about the framework</a>.</em></p>

    <h2>How do I start?</h2>
    <ul style="margin-bottom: 2em;">
      <li><a href="http://codepen.io/collection/AxKKgY/" target="_blank"
             title="Link opens in a new window">Fork a Codepen</a></li>
      <li><a href="https://github.com/angular/material-start" target="_blank"
             title="Link opens in a new window">Clone a Github Starter Project</a></li>
    </ul>

  </md-content>
</div>
